<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Hotel Details</title>
    <link rel="stylesheet" href="static/styles1.css">
</head>
<body>
  <h1 style="font-size: 90px;">HOTEL VICTORIA</h1>
 

  </body>
  <body style="background-image: url(https://img.freepik.com/fotos-premium/hotel-resort-de-luxo-com-piscina-e-vista-para-a-natureza-a-noite_467541-1088.jpg); background-size: cover; background-position: center;">
    </body>


    <div id="change_hotel_detail">
       
        <div class="hotel_details">
          
            <p><b>Name: Hotel Victoria</b></p>
            <p><b>Description: Luxurious retreat with stunning views, exquisite decor and impeccable service.</b></p>
            <p><b>Ratings: 9</b></p>
            <p><b>Price: Rs 2000 - Rs 6,000 per night</b></p>
            <p><b>Types of room available: Single bed, Double bed</b></p>
            <p><b>Address: 789 Serene Way, Blissful Meadows, Harmony</b></p>
          
        <div class="buttons">
            <button class="popo">BOOK</button>
            <a href="Home">Cancel</a>
        </div>
    </div>
</body>
</html>